richlistitem.tower {
    border: 1px solid black;
    background: none;
    color: black;
    margin: 2px;
    height: 128px;
    -moz-binding: url('chrome://jaet/content/tools/towlistitm.xml#towlistitem') !important;
}

richlistitem.tower:-moz-drag-over {
    background: #c0c0ff !important;
}

richlistitem.tower hbox[anonid="wrap"] image {
    margin: 2px;
    border: 1px solid black;
}

*[anonid="pos_fit"] image {
    margin: 2px;
    border: 1px solid black;
    -moz-binding: url('chrome://jaet/content/tools/towlistitm.xml#struct') !important;
}

tow_stats_box {
    -moz-binding: url('chrome://jaet/content/tools/towlistitm.xml#fit_stats') !important;
}

label.api_status {
    -moz-binding: url('chrome://jaet/content/tools/status.xml#api_status') !important;
}

